head{
	background-color: red;
}

body{
	background-color: #e0d6ff;
	margin: 0px;
}

 h1{
 color: green;
 text-align: center;
 font-family: Avenir;
 font-size: 2.5em;
 }

 h2{
 color: pink;
 text-align: center;
 font-family: Avenir;
 font-size: 52px;
 padding: 10px;
 }


 table{
  border: 1px solid black;
  float: left;
  width: 33.3%;
  margin-right: 10px;
   margin-bottom: 10px;
   margin-left: 10px;
}

 th, td {
 	 padding: 5px;
 	 border: 1px solid black;
 }

 p{
 	text-indent: 15px;
 	margin-left: 10px;
 	margin-right:10px;
 }

#img{
	float: right;
	position: relative;
	width: 33.3%;
	height: 250px;
	  margin-left: 10px;
   margin-bottom: 10px;
}

#Hawaii1{
position: absolute;
 top: 0px;
 left: 0px;
 z-index: 3;
}

#Hawaii2{
	position: absolute;
 top: 50px;
left: 50px;
 z-index: 2;
}

#Hawaii3{
		position: absolute;
 top: 100px;
left: 100px;
 z-index: 1;
}

#Hawaii1:hover{
 z-index: 3;
 border-color: red;
 border-style: solid;
 border-width: 2px;
 }

 #Hawaii2:hover{
 z-index: 3;
  border-color: yellow;
   border-style: solid;
 border-width: 2px;
 }

 #Hawaii3:hover{
 z-index: 3;
  border-color: orange;
   border-style: solid;
 border-width: 2px;
 }

 #sect2{
 	background-color: lightblue;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	width: 100%;
 }

legend,label, input{
	 	padding-left: 20px;
}

textarea{
	width: 97%;
	margin-left: 20px;
}

input[type="submit"]{
	margin-left: 20px;
}

 hr{
 	color: black;
 	border-style: solid;
 	border-width: medium;
 	padding-left: 0px;

 }
